#yabi-message {
    position: absolute;
    top: 5px;    
    left: 250px;

    padding: 5px 7px;

    color: white;

    font-weight: bold;
    text-align: left;
    visibility: hidden;
    min-width: 400px;
    display: none;
    z-index: 900;

    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

#yabi-message a {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 80%;
    color: white;
}

#yabi-message span {
    padding-right: 2em;
}

#yabi-message.success {
    background-color: #00da00;
}

#yabi-message.warn {
    background-color: #ff6600;
}

#yabi-message.fail {
    background-color: #f30124;
}
