h1 {
    color: #af239d;
}

#yabi-tabs #yabi-tabs-admin {
    color: white;
    font-size: 133%;
    text-shadow: 0px -1px 1px #666;

    background: #3879e5 url(../images/selectedWFbg.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#5aa4fb', EndColorStr='#3879e5');
    background: -moz-linear-gradient(top, #5aa4fb, #3879e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5aa4fb), to(#3879e5));

    border-top: 1px solid #3879e5;
    border-left: 1px solid #3879e5;
    border-right: 1px solid #3879e5;
}
