h1 {
    color: #af239d;
}

#yabi-tabs #yabi-tabs-files {
    color: white;
    font-size: 133%;
    text-shadow: 0px -1px 1px #666;

    background: #3879e5 url(../images/selectedWFbg.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#5aa4fb', EndColorStr='#3879e5');
    background: -moz-linear-gradient(top, #5aa4fb, #3879e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5aa4fb), to(#3879e5));

    border-top: 1px solid #3879e5;
    border-left: 1px solid #3879e5;
    border-right: 1px solid #3879e5;
}

/* This never gets used on this tab, so we can just drop it altogether. */
.validInput {
    display: none;
}

.fileSelector {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin-left: 0;
}

.fileSelectorBrowse {
    height: 100%;
    width: 100%;
}

#leftContainer, #rightContainer {
    position: absolute;
    top: 63px;
    bottom: 0;
    padding: 5px 10px;
}

#leftContainer {
    left: 0;
    right: 50%;
}

#rightContainer {
    left: 50%;
    right: 0;
}

.fileName {
    border-color: #FFFFFF;
    border-style: none;
    border-width: 1px;
    padding: 3px;
}

.dragSource {
    opacity: 0.3;
    font-weight: bold;
}

.dropTarget {
    background-color: #5AA4FB;
    color: #FFFFFF;
}

