ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{ 
  margin: 0; padding: 0; 
}

a img,:link img,:visited img { 
  border: none; 
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body, td{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

body{
  padding: 20px;
}

.form_error{ 
  padding-left: 10px;
  color: red;
} 

.hidden{
 visibility:hidden;
 display:none;
 

}
