
h1 {
    margin-bottom:8px;
    font-weight:bold;
    color:#666;
}

h2 {
    margin-top:6px;
    font-weight:bold;
    color:#f60;
}

a, a.visited, a:visited {
    color: #666;
    text-decoration:none;
}


td {
    background-color:transparent;
}

#yabi-grid-mode h1 {
    color:#af9d23;
    padding:2px;
}
#yabi-help-mode h1 {
    color:#529847;
}

.runningWhere {
    font-size:70%;
    left-padding:5px;
}

.flowStatus {
    width:15px;
    height:15px;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    right: 1%;
    top: 5px;
    z-index:99;
}




html, body {
    height: 100%;
    margin-right:0px;
    padding-right:0px;
}
body {
    position:relative;
    background:url(../images/yabi_bg.png) repeat-y;
}
#doc3 {
/*    height:99%;*/
/*    margin-bottom:5em;*/
/*    overflow:auto;*/
    margin-right:0px;
    padding-right:0px;
    margin-left:0px;
    padding-left:0px;
    position:relative;
}
#hd {
    position:relative;
    height:60px;
    width:100%;
    border-bottom: 3px solid #3879e5;
    background-color:white;
}

.yabiLeftColumn {
    position: absolute;
    left: 0;
    top: 63px;
    width: 270px;
    padding: 0;
}

.yabiMiddleColumn {
    position: absolute;
    left: 270px;
    top: 63px;
    width: 330px;
    height: 90%;
    background: url(../images/middle_bg.png);
    padding: 20px;
    padding-top: 10px;
}

.yabiRightColumn {
    position: absolute;
    left: 640px;
    top: 63px;
    padding: 5px;
    min-width: 400px;
}

.yabi-files-menu{
  margin-top: 2px;
  font-size: 13px;
  text-align:right;
  color: #af239d;
  float: right;

}


#hd #userinfo {
    position:absolute;
    top:24px;
    right:4px;
    font-size:80%;
}

#yui-main {
    margin:0px;
    overflow:hidden;
}
#yabi-col1 {
    width:49.5%;
}
.yabi-column-contents {
    padding:6px;
    min-height:800px;
}
#yabi-overlay {
    display:none;
    position:absolute;
    opacity:0.6;
    z-index:999;
    top:63px;
    left:0px;
    background:#777;
    border: 1px solid black;
}
#yabi-saving {
    background-color:#fff;
    font-size:120%;
    padding:5px;
    position:absolute;
    top:120px;
    left:30%;
    border:3px solid #ccc;
    z-index:1000;
}

#yabi-loading {
    background-color:#fff;
    color: #FF6600;
    font-size:120%;
    padding:5px;
    position:absolute;
    top:120px;
    left:30%;
    border:3px solid #ccc;
    z-index:1000;
}


#yabi-tabs {
    position:absolute;
    left:250px;
    bottom:2px;
    color:#fff;
}

#yabi-tabs a {
    background-color: #fff;
    color: #ccc;
    font-weight: bold;
    text-decoration: none;

    padding: 4px 16px 4px 16px;

    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

#yabi-tabs a:hover {
    color: white;
    text-shadow: 0px -1px 1px #666;

    background: #3879e5 url(../images/selectedWFbg.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#5aa4fb', EndColorStr='#3879e5');
    background: -moz-linear-gradient(top, #5aa4fb, #3879e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5aa4fb), to(#3879e5));

    border-top: 1px solid #3879e5;
    border-left: 1px solid #3879e5;
    border-right: 1px solid #3879e5;
}




#yabi-thumbnail {
    left:auto;
    right:auto;
    text-align:center;
    margin-top:20px;
}
#yabi-thumbnail td {
    text-align:center;
    vertical-align:top;
}
#yabi-thumbnail .caption {
    font-size:85%;
}
#yabi-thumbnail a img {
    border:1px solid silver;
    margin:10px;
    vertical-align: top;
}


#refreshrate{
display:inline;

}




/* new json design objects */

/*#titleDiv {
    width: 70%;
    position: relative;
    float: left;
}*/

#submitButton {
    width: 25%;
    float: right;
}

#container {
    position: relative;
}

.workflowName {
    color:#666;
    font-size: 110%;
    font-weight: bold;
    padding:6px;
    padding-left:14px;
    background:#fff;
    width:210px;
    height:1.2em;
    border:1px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 2px #eee;
    -moz-box-shadow: 0px 1px 2px #eee;
    -webkit-box-shadow: 0px 1px 2px #eee;
}

.invalidWorkflowName {
    color:#666;
    font-size: 110%;
    font-weight: bold;
    padding:6px;
    padding-left:14px;
    background:#fff;
    width:210px;
    border:2px solid #f00;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 2px #eee;
    -moz-box-shadow: 0px 1px 2px #eee;
    -webkit-box-shadow: 0px 1px 2px #eee;
}

.tagListContainer {
    color:#b7c9e6;
    margin-top:8px;
    padding:3px;
    padding-left:14px;
    padding-right:6px;
    background:#ebf0f3;
    width:310px;
    border:1px solid #b7c9e6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 2px #eee;
    -moz-box-shadow: 0px 1px 2px #eee;
    -webkit-box-shadow: 0px 1px 2px #eee;
    position:relative;
}

.tagListContainer input {
    background:white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width:250px;
    border:none;
}

.tagAddLink {
    position: absolute;
    top: 3px;
    right: 4px;
    width: 15px;
    height: 15px;
    background: url(../images/add-tag.png) no-repeat;
}

.tagAddLink:hover {
    background: url(../images/add-tag-hover.png) no-repeat;
}

.inlinesvg .tagAddLink {
    background: url(../images/add-tag.svg) no-repeat;
}

.inlinesvg .tagAddLink:hover {
    background: url(../images/add-tag-hover.svg) no-repeat;
}

.tagList {
    display:inline;
}

.tagHint {
    margin-top:3px;
    padding-top:3px;
    text-align:right;
}
.tagHint span {
    margin-right:4px;
}

.tagHelp {
    position:absolute;
    left:190px;
    top:45px;
    display:none;
    -moz-opacity:0; filter:alpha(opacity=0); opacity:0;
    z-index:100;
}

.workflowToolbar, .workflowSaveAsDlg {
    margin-top:9px;
}

.workflowSaveAsDlg .fakeButton {
    margin-left: 0.5em;
}

.workflowContainer {
/*    background-color: #dbe5f6;*/
    display: block;
/*    min-height: 80px;*/
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 15px;
}

.workflowStartBookend {
    color:#8ba9dc;
    text-shadow:0px 1px 1px #fff;
    border-bottom:2px solid white;
/*    margin-left:15px;*/
/*    margin-right:15px;*/
    margin-top:20px;
    padding-left:30px;
}

.workflowHint {
    width: 180px;
    height: 119px;
    margin: 20px;
    padding: 0 30px 0 70px;
    background-image: url(../images/workflow-background.png);
    background-repeat: none;
    background-position: 50% 50%;
    color: #4b8be4;
}

.workflowHint div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 180px;
    height: 119px;
}

.workflowHint div span {
    display: inline-block;
    text-indent: -100000px;
    width: 33px;
    height: 14px;
    background-image: url(../images/add-tool.png);
    background-repeat: none;
    background-position: bottom left;
}

.inlinesvg .workflowHint {
    background-image: url(../images/workflow-background.svg);
}

.inlinesvg .workflowHint div span {
    background-image: url(../images/add-tool.svg);
}

.wfSelectionHint {
    width: 174px;
    height: 120px;
    margin: 20px 5px;
    padding: 40px 25px 0 75px;
    background-image: url(../images/no-workflow-background.png);
    background-repeat: none;
    background-position: 50% 50%;
    color: #4b8be4;
}

.wfSelectionHint div {
    display: table-row;
    margin: 0;
    padding: 0;
}

.wfSelectionHint div span {
    display: table-cell;
    text-align: center;
    width: 174px;
    height: 60px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.inlinesvg .wfSelectionHint {
    background-image: url(../images/no-workflow-background.svg);
}

.wfNoResultsDiv {
    padding:10px;
    color:#8ba9dc;
    font-size:90%;
    display:none;
}

.workflowEndBookend {
    color:#8ba9dc;
    text-shadow:0px 1px 1px #fff;
    border-top:2px solid white;
/*    margin-left:15px;*/
/*    margin-right:15px;*/
    padding-left:30px;
}

.jobSuperContainer {
    position: relative;
    z-index: 0;
}

.jobContainer {
    /* IE gradient filter omitted intentionally. */
    border:1px solid #ccc;
    background: #eee url(../images/job_bg.png);
    background: -moz-linear-gradient(top, #fff, #f6f6f6);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6));
    box-shadow: 0px 1px 2px #ccc;
    -moz-box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;
    padding:4px;
    padding-left: 12px;
    padding-right: 10px;
    position:relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 95%;
    color: #666;
    text-shadow: 0px 1px 1px #fff;
    min-height: 26px;
    margin-bottom:6px;
}

.selectedJobContainer {
    /* IE gradient filter omitted intentionally. */
    border:1px solid #3879e6;
    background-color: #3879e5;
    background:#3879e5 url(../images/selectedWFbg.png) repeat-x;
    background: -moz-linear-gradient(top, #5aa4fb, #3879e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5aa4fb), to(#3879e5));
    box-shadow: 0px 0px 3px #3879e6;
    -moz-box-shadow: 0px 0px 3px #3879e6;
    -webkit-box-shadow: 0px 0px 3px #3879e6;
    padding:4px;
    padding-left: 12px;
    position:relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 95%;
    color: #fff;
    text-shadow:0px -1px 1px #666;
    min-height: 26px;
    margin-bottom:6px;
}

.loadFailJobContainer {
    border:1px solid #f77;
    background: #fcc url(../images/job_loadfail_bg.png);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffeeee', EndColorStr='#ffdddd');
    background: -moz-linear-gradient(top, #ffeeee, #ffdddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fee), to(#fdd));
    box-shadow: 0px 0px 3px #f77;
    -moz-box-shadow: 0px 0px 3px #f77;
    -webkit-box-shadow: 0px 0px 3px #f77;
    padding:4px;
    padding-left: 12px;
    position:relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 95%;
    color: #f66;
    margin-bottom:6px;
}

.jobContainer h1 {
    font-size:105%;
    color: #666;
    margin-bottom: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
    width:298px;
}

.selectedJobContainer.disabled h1 {
    color: #f66;
}

.jobContainer.disabled h1 {
    color: #f66;
}

.jobContainer > h1 > .backend:before { content: "("; }
.jobContainer > h1 > .backend:after { content: ")"; }

.jobContainer > h1 > .backend {
    opacity: 0.6;
    margin-left: 1em;
    font-size: 90%;
}

.jobInputs {
    text-shadow:none;
}

.jobOutputs {
    text-shadow:none;
}

.jobOptionsMissing {
    text-shadow:none;
    font-size: 90%;
}

/* TODO DRY
 * This is just made to look similar to invalid extensions, it probably could be
 * refactored, but I'll just follow what the rest of the code is doing for now
 */
.jobOptionsMissing span {
    background: none repeat scroll 0 0 #f66;
    border: 1px solid #f66;
    color: #fff;
    border-radius: 8px;
    display: inline;
    line-height: 1.6em;
    padding: 0 7px;
    position: relative;
    border-radius: 8px;
}

.selectedJobContainer h1 {
    font-size:105%;
    margin-bottom: 0px;
    color:#fff;
    padding-bottom: 4px;
    border-bottom: 1px solid #5aa4fb;
    width:298px;
}

.jobOptionsContainer {
    position:relative;
    width:500px;
}

.fileOutputs {
    margin-bottom:18px;
}

#optionsDiv {
    width:100%;
    padding:10px;
}

.jobParam {
    position:relative;
    padding-bottom:8px;
    padding-top:2px;
    min-height:1.2em;
}

.jobParam label {
    display:block;
    width:100px;
    position:absolute;
    top:2px;
    left:0px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.mandatoryParamLabel {
    background-color:#ebf0f3;
    border-radius-top-left: 6px;
    border-radius-bottom-left: 6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-bottomleft:6px;
    padding:3px;
    padding-left:6px;
    left:-6px;
    width:90px;
}

.jobParam input, .jobParam select, .jobParam .value {
    position:absolute;
    top:2px;
    left:110px;
    width:290px;
}

.help {
    color: #999;
    font-size: 90%;
    margin-top: 0.3em;
}

input {
    height: 1.5em;
}

.jobInputs {
    padding: 3px;
    padding-bottom:0px;
    font-size: 90%;
    width: 95%;
    line-height: 1.3em;
    position:relative;
}

.jobInputs .acceptedExtensionList {
    margin-left:50px;
}

.jobInputs .invalidAcceptedExtensionList {
    margin-left:50px;
}

.jobInputs label {
    position:absolute;
    left:0px;
    top:7px;
}

.jobOutputs {
    padding: 3px;
    font-size: 90%;
    position:relative;
    margin-top:-3px;
}

.jobOutputs label {
    position:absolute;
    left:0px;
    top:7px;
}

.jobOutputs .acceptedExtensionList {
    margin-left:50px;
}

.jobOutputs .invalidAcceptedExtensionList {
    margin-left:50px;
}


.validInput {
    background: transparent;
    color: black;
    padding: 4px;
    margin-bottom: 4px;
}

.invalidInput {
    background: red;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffcccc', EndColorStr='#ff6666');
    background: -moz-linear-gradient(top, #ffcccc, #ff6666);
    background: -webkit-gradient(linear, left top, left bottom, from(#fcc), to(#f66));
    color: white;
    padding: 4px;
    margin-bottom: 4px;
}

.invalidParam {
    border:2px solid red;
}

.validParam {
    border:1px solid #ddd;
}

.fakeUploadButton {
    position:absolute;
    right:0px;
    top:4px;
    color:#666;
}

.acceptedExtensionList {
    color: #999;
    padding: 2px;
    min-height:1.2em;
}

.jobParam .acceptedExtensionList {
    margin-left:296px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.invalidAcceptedExtensionList {
    color: #f00;
    padding: 2px;
}

.acceptedExtension {
    display: inline;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ebf0f3;
    border: 1px solid #b7c9e6;
    padding: 0px;
    padding-left: 7px;
    padding-right: 7px;
/*    margin-right: 4px;*/
    color: #666;
    position: relative;
    line-height: 1.6em;
}

.invalidAcceptedExtensionList .acceptedExtension {
    background: #f66;
    border: 1px solid #f66;
    color: #fff;
}

.statusFilter {
    display: inline;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ebf0f3;
    border: 1px solid #b7c9e6;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    color: #666;
    position: relative;
    line-height: 1.6em;
    cursor: pointer;
}

.statusFilter:hover {
    background-color: #f7fcff;
}

.selectedStatusFilter {
    display: inline;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #3879e5;
    background:#3879e5 url(../images/selectedWFbg.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#5aa4fb', EndColorStr='#3879e5');
    background: -moz-linear-gradient(top, #5aa4fb, #3879e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5aa4fb), to(#3879e5));
    border: 1px solid #3879e5;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    color: #fff;
    position: relative;
    line-height: 1.6em;
    cursor: pointer;
}

.autofilterContainer {
    margin-top:6px;
}

.virtualCheckbox {
    display: inline;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #ebf0f3;
    border: 1px solid #b7c9e6;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    margin-left: 6px;
    color: #666;
    position: relative;
    line-height: 1.6em;
    cursor: pointer;
    width:26px;
}

.virtualCheckboxOn {
    display: inline;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #3879e5;
    background:#3879e5 url(../images/selectedWFbg.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#5aa4fb', EndColorStr='#3879e5');
    background: -moz-linear-gradient(top, #5aa4fb, #3879e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5aa4fb), to(#3879e5));
    border: 1px solid #3879e5;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    margin-left:6px;
    color: #fff;
    position: relative;
    line-height: 1.6em;
    cursor: pointer;
    width:26px;
}

.destroyDiv {
    position:absolute;
    top:2px;
    right:1px;
    font-size:80%;
    color:#333;
    background:url(../images/delnode.png) no-repeat;
    width:17px;
    height:17px;
    cursor: pointer;
}

.optionsToggle {
    position: absolute;
    top: 0px;
    right: 0px;
}

.fakeButton {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #eee;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    border: 1px solid #ccc;
    color: #666;
/*    width: 180px;*/
    box-shadow: 0px 1px 1px #ddd;
    -moz-box-shadow: 0px 1px 1px #ddd;
    -webkit-box-shadow: 0px 1px 1px #ddd;
    cursor: pointer;
    text-decoration: none;
}

.fakeButton:hover {
    background: #e1e7e9;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eaeff2', EndColorStr='#dadfe2');
    background: -moz-linear-gradient(top, #eaeff2, #dadfe2);
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeff2), to(#dadfe2));
    text-decoration: none;
}

.largeButton {
    padding:4px;
    font-size:120%;
    text-shadow: 0px 1px 1px #fff;
}

/*
.fakeButton.hover, .fakeButton:hover {
    border:1px solid #3879e6;
    background: #ccf url(../images/job_selected_bg.png);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eceff3', EndColorStr='#dbe5f6');
    background: -moz-linear-gradient(top, #eceff3, #dbe5f6);
    background: -webkit-gradient(linear, left top, left bottom, from(#eceff3), to(#dbe5f6));
}
*/

.progressBarContainer {
    width: 298px;
    height: 5px;
    border: 1px solid #d8d8d8;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eeeeee', EndColorStr='#ffffff');
    background: -moz-linear-gradient(top, #eeeeee, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    padding: 0px;
    position: relative;
}

.progressBar {
    position: absolute;
    width: 0%;
    left: 0px;
    height: 5px;
    padding: 0px;
    margin: 0px;
    background-color: #6f6;
/*    background: -webkit-gradient(linear, left top, left bottom, from(#6f6), to(#9c9));*/
}

.errorBar {
    background-color: red;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ff0000', EndColorStr='#ff6666');
    background: -moz-linear-gradient(top, red, #f66);
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(#f66));
}

.badge {
    width:16px;
    height:16px;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    right: 9px;
    top: 4px;
}

.toolCollection {

}

.toolDescription {
    border-top:1px solid #eee;
    color:#aaa;
    padding-top:2px;
    margin-top:3px;
}

.toolDescription li {
    display: block;
}

.toolDescription .toolFooter {
    border-top:1px solid #eee;
    padding-top:2px;
}

.toolDescription .toolFooter button.fakeButton {
    color: #808080;
    font-size: 90%;
    margin-left: 0.5em;
}

.toolDescription .toolFooter .confirm, .toolDescription .toolFooter .delButton {
    float: right;
}

.toolDescription a {
    text-decoration: underline;
    color: #3879e5;
}

.toolHelp {
    font-size:90%;
    border-top:1px solid #eee;
    color:#aaa;
    padding-top:2px;
    margin-top:3px;
}

.toolSearchField {
    width:40%;
    border:1px solid #ccc;
    margin-right:6px;
}

.toolListing {
    margin: 8px 5px 0 5px;
}

.toolGroup {
    color: #999;
    padding:3px;
    margin-top:2px;
    border-bottom:2px solid #eee;
    margin-bottom:4px;
    font-size:90%;
}

.toolGroup.saved_workflows {
    margin-top: 1.5em;
}

.tool {
    border:1px solid #ddd;
    background: #eee url(../images/job_bg.png);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    box-shadow: 0px 1px 2px #eee;
    -moz-box-shadow: 0px 1px 2px #eee;
    -webkit-box-shadow: 0px 1px 2px #eee;
    padding:4px;
    padding-left: 12px;
    padding-right: 10px;
    margin:4px;
    margin-left: 6px;
    margin-right: 4px;
    position:relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 95%;
    color: #666;
    text-shadow: 0px 1px 1px #fff;
}

div:hover > .tool {
    background: #e1e7e9;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eaeff2', EndColorStr='#dadfe2');
    background: -moz-linear-gradient(top, #eaeff2, #dadfe2);
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeff2), to(#dadfe2));
    text-shadow: 0 1px 1px #eee;
}

.saved_workflows > .tool {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eaf2f0', EndColorStr='#dae2df');
    background: -moz-linear-gradient(top, #eaf2f0, #dae2df);
    background: -webkit-gradient(linear, left top, left bottom, from(#eaf2f0), to(#dae2df));
}

.saved_workflows:hover > .tool {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#eaeff2', EndColorStr='#dadfe2');
    background: -moz-linear-gradient(top, #eaeff2, #dadfe2);
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeff2), to(#dadfe2));
}

.tool > .backend:before {
    content: " on ";
}

.tool > .backend {
    opacity: 0.6;
    margin-left: 0.5em;
}

.addLink {
    position:absolute;
    right:0px;
    top:0px;
    cursor:pointer;
    width:53px;
    height:25px;
    background-image: url(../images/add-tool.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.addLink:hover {
    background-image: url(../images/add-tool-hover.png);
}

.inlinesvg .addLink {
    background-image: url(../images/add-tool.svg);
}

.inlinesvg .addLink:hover {
    background-image: url(../images/add-tool-hover.svg);
}

.workflowProxy {
    border-bottom:1px solid #ddd;
    padding:4px;
    padding-left: 12px;
    position:relative;
    background: #eee url(../images/job_bg.png);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#f6f6f6');
    background: -moz-linear-gradient(top, #ffffff, #f6f6f6);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6f6));
    font-size: 95%;
    color: #666;
    text-shadow: 0px 1px 1px #fff;
    min-height: 26px;
}

.selectedWorkflowProxy {
    border-bottom:1px solid #3879e6;
    background: #ccf;
    padding:4px;
    padding-left: 12px;
    position:relative;
    background:#3879e5 url(../images/selectedWFbg.png) repeat-x;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#5aa4fb', EndColorStr='#3879e5');
    background: -moz-linear-gradient(top, #5aa4fb, #3879e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#5aa4fb), to(#3879e5));
    font-size: 95%;
    color: #fff;
    min-height: 26px;
    text-shadow:0px -1px 1px #666;
}

.filterPanel {
    background-color: #dbe5f6;
    border-bottom: 1px solid #b7c9e6;
    margin-bottom: 4px;
    padding:10px;
    padding-bottom:5px;
}

.filterStatus {
    margin-top:5px;
}

.sliderContainer {
    height:40px;
    position:relative;
}

.sliderLabel {
    position:absolute;
    left:0px;
    width:80px;
    padding-top:6px;
}

.slider-bg {
    margin-top:5px;
    height:20px;
    width:180px;
    background-image: url(../images/slider-background.png);
    background-repeat: no-repeat;
    position:absolute;
    left:80px;
}

.inlinesvg .slider-bg {
    background-image: url(../images/slider-background.svg);
}

.slider-thumb {
    margin-top: 3px;
    margin-left: -7.5px;
    width: 15px;
    height: 15px;
    background-image: url(../images/slider-button.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider-thumb:hover {
    background-image: url(../images/slider-button-hover.png);
}

.inlinesvg .slider-thumb {
    background-image: url(../images/slider-button.svg);
}

.inlinesvg .slider-thumb:hover {
    background-image: url(../images/slider-button-hover.svg);
}

.listingLoading {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 90px;
}

.sliderValue {
    position:absolute;
    top:25px;
    left:140px;
    color:#8ba9dc;
    font-size:90%;
}

.workflowSearchField {
    margin-right:6px;
}

.workflowDate {
    float: right;
    max-width: 25%;
    padding: 2px 30px 0 0;
    text-align: right;
    color:#8ba9dc;
    font-size:90%;
    font-weight:normal;
    text-shadow:0px 1px 1px #fff;
}

.selectedWorkflowProxy .workflowDate {
    text-shadow:0px -1px 1px #666;
    color:white;
}

.tagDiv {
    padding-top:2px;
    width:90%;
    color:#8ba9dc;
    font-size:90%;
    font-weight:normal;
}

.selectedWorkflowProxy .tagDiv {
    text-shadow:0px -1px 1px #666;
    color:white;
}

.jobErrorMsg {
    padding:4px;
    padding-left: 12px;
    position:relative;
    font-size: 95%;
    font-weight:bold;
    text-align:right;
    width:280px;
    color: #f00;
    margin-bottom:6px;
    margin-top:6px;
    text-shadow:0px 1px 1px #fff;
}

.selectedJobContainer .jobErrorMsg {
    text-shadow:none;
    color:white;
}

.workflowHydrating {
    height:600px;
    width:370px;
    position:absolute;
    top:63px;
    left:270px;
    background: url(../images/fadedWhiteBg.png) repeat-x;
    padding-top:200px;
}

.workflowLoading {
    margin-top:15px;
    text-align:center;
    background: #fefefe;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding:6px;
    color:#999;
}

.workflowLoading img {
    margin-right:8px;
    vertical-align:sub;
}

.displayNone {
    display:none;
}

.copyright {
    position:absolute;
    top:6px;
    right:6px;
    font-size:80%;
    color:#999;
}

#fileOperationStatus {
    padding-bottom:20px;
}

.fileOperationMessage {
    margin:3px;
    padding:6px;
    padding-left:30px;
    background: #f6f6f6 url(../images/processing.gif) no-repeat 4px 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color:black;
}

/* Move the FlashBlockDetector embeds so they don't create an extraneous
 * scrollbar. */
body > embed {
    top: 0;
}


