p.help {
    max-width: 500px;
    margin-bottom: 1em;
}

form > p {
    margin-bottom: 0.7em;
}

form > p.submit-row {
    width: 500px;
    text-align: right;
}

#tos {
    width: 500px;
    height: 10em;
    overflow: auto;
    margin-bottom: 1em;
    border: solid 1px #ccc;
    white-space: pre-wrap;
    font-size: 90%;
    background: #eee;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px;
}

form .help {
    max-width: auto;
}

label {
    display: inline-block;
    min-width: 232px;
    text-transform: lowercase;
}

input, select {
    margin: 0;
}

/* This is effectively a reconstruction of the .fakeButton.largeButton style as
 * applied to an actual input element. */
input[type="submit"] {
    background: #eee;
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');

    box-shadow: 0px 1px 1px #ddd;
    -moz-box-shadow: 0px 1px 1px #ddd;
    -webkit-box-shadow: 0px 1px 1px #ddd;

    border: solid 1px #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    height: 1.8em;
    padding: 4px;

    color: #666;
    font-size: 120%;
    text-shadow: 0px 1px 1px #fff;
    text-transform: lowercase;
}

/* Error-related styles. */
ul.errorlist {
    display: block;
    list-style: none;
    margin: 0 0 0.7em 0;
    padding: 0;
}

ul.errorlist li {
    float: left;
    clear: left;
    display: inline-block;
    list-style: none;
    margin: 0 0 0.3em 235px;
    padding: 2px 5px;
    background: #f30124;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.errorlist + p {
    clear: left;
}

ul.errorlist + p input, ul.errorlist + p select {
    border: solid 2px #f30124;
}
