{% load static from staticfiles %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="Y A B I" />
<meta name="robots" content="index, follow" />
<meta name="description" content="Yabi" />
<meta name="keywords" content="yabi, bioinformatics" />
<meta name="language" content="en" />

<title>Y A B I</title>

<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

<script src="{% static 'javascript/lib/yui-3.5.1/build/yui/yui-min.js' %}"></script>

<script type="text/javascript">
    YAHOO = {
        ccgyabi:{
            widget: {}
        } 
    };
    var appURL = "{{base_site_url}}/";
    var imagesURL = "{{base_site_url}}/static/images/";

    // Set this to false if you want to get each YUI JS file on its own
    // for debugging YUI itself.
    YAHOO.ccgyabi.combineJS = true;

{% if request %}
    YAHOO.ccgyabi.username = '{{request.user.username}}';
{% endif %}
    YUI_config = {
        groups: {
            yui2: {
                base: '{% static "javascript/lib/yui-2in3/dist/2.9.0/build/" %}',

                // If you have a combo service, you can configure that as well
                combine: YAHOO.ccgyabi.combineJS,
                // comboBase: 'http://myserver.com/combo?',
                comboBase: '{{base_site_url}}/djamboloader/yui2in3_2_9_0/combo?',
                root: '',
                // root: '/2in3/build/',

                patterns: {
                    'yui2-': {
                        configFn: function(me) {
                            if(/-skin|reset|fonts|grids|base/.test(me.name)) {
                                me.type = 'css';
                                me.path = me.path.replace(/\.js/, '.css');
                                me.path = me.path.replace(/\/yui2-skin/, '/assets/skins/sam/yui2-skin');
                            }
                        }
                    }
                }
            }
        },
        combine: YAHOO.ccgyabi.combineJS,
        comboBase: '{{base_site_url}}/djamboloader/yui_3_5_1/combo?',
        root: ''
    };

    // Override in child templates if needed
    function onDOMReady() {};

    var Y = YUI().use('node', 'event', 'io-form', 'json', 'anim', 'io-upload-iframe', 'dd', 'yui2-slider', 
        function(Y) {
          Y.on('domready', function() {
            onDOMReady();
          });
        }
    );
</script>

<script type="text/javascript" src="{% static 'javascript/lib/fbd/fbd.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/lib/swfupload-2.5.0b3/swfupload.js' %}"></script>

<script type="text/javascript" src="{% static 'javascript/lib/modernizr-1.7.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/lib/glob-to-regexp.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/lib/lodash.compat.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascript/YabiCommon.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiAcceptedExtensionList.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiFileSelector.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiJob.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiJobFileValue.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiJobParam.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiSimpleFileValue.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiTool.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiToolCollection.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiWorkflow.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiWorkflowCollection.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiWorkflowProxy.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/YabiApp.js' %}"></script>

<script type="text/javascript" src="{% static 'javascript/widget/event.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/widget/loading.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/widget/message.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/widget/upload.js' %}"></script>


<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/reset-fonts-grids-min.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/file-selector.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/yabi.css' %}" />

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/widget/message.css' %}" />

{% block header %}
{% endblock %}

</head>
<body>
{% block body %}
{% block bodyhd %}
    <div id="hd">
        <p>
            <img src="{% static 'images/yabi-logo.png' %}" alt="Yabi-logo" height="60" width="198" />
        </p>

        <div id="yabi-message"></div>

        {% block tabs %}
        <div id="yabi-tabs">
        <a href="{{ base_site_url}}/jobs" id="yabi-tabs-jobs" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">jobs</a>
        <a href="{{ base_site_url}}/design" id="yabi-tabs-design" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">design</a>
        <a href="{{ base_site_url}}/files" id="yabi-tabs-files" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">files</a>
        {% if request.user.get_profile.has_account_tab %}
        <a href="{{ base_site_url}}/account" id="yabi-tabs-account" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">account</a>
       {% endif %}

        {% if request.user.is_staff %}
        <a href="{{ base_site_url}}/admin" id="yabi-tabs-admin" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">admin</a>
        {% endif %}
        </div>
        {% endblock %}

        <div id="userinfo">
            <a href="{{ base_site_url}}/logout" class="fakeButton">log out {{request.user.username}}</a>
        </div>
    </div>
{% endblock %}

{% endblock %}
{% include "fe/copyright_include.html" %}
</body>
</html>
